*.tgz
*.zip
*.tar.gz
*.log
*.out
*.ipynb
kakenhievolvedna_2020/
/kakenhievolvedna2/oxdna_run/unused/
/kakenhievolvedna2/sim_result_peppercorn*/
/kakenhievolvedna2/results/
/kakenhievolvedna2/logs/
/kakenhievolvedna2/2022*/
/kakenhievolvedna2/oxdna_run/__pycache__/
/kakenhievolvedna2/oxdna_run/2022*/
/kakenhievolvedna2/oxdna_run/2023*/
/kakenhievolvedna2/oxdna_run/size/
/kakenhievolvedna2/oxdna_run/unused/
/kakenhievolvedna2/oxdna_run/*.csv
/kakenhievolvedna2/oxdna_run/*.txt
/kakenhievolvedna2/oxdna_run/*.pil

