# python folders to ignore
build/
dist/
doc/_build/
__pycache__/
env/
*.egg-info/

# Python temporary files
MANIFEST
*.pyc
*.pyo
*.orig

# Temporary files
*~

# System files
.DS_Store
*.so

# Results, data and plots
data/
plots/
logs/
results

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Data files
NATALEX/
*old*
figs/*pdf
nupack/input*
nupack/output*

